
  .leaflet-container {
    width: 100%;
    height: 100vh;
  }
$grid_color: rgb(0 0 0 / 0%);
$grid_margin: percentage(40 / 1920); // 40 / 1920 * 100%;
$grid_width: percentage(157 / (1920 - 40 * 2));
$grid_gutter: percentage(30 / (1920 - 40 * 2));
////$body_bgcolor: #F1F5FC;

@mixin mq($from, $to: false) {
    @if $to {
        @media (min-width: #{$from}px) and (max-width: #{$to}px) {
            @content;
        }
    } @else {
        @media (max-width: #{$from}px) {
            @content;
        }
    }
}

* {
    box-sizing: border-box;
}
body {
  background: #f1f5fc;
}
.is-grid {
    position: relative;
    padding: 80px 0;
    min-height: 90vh;
    padding-bottom: 0px;
    
    &.is-grid::after {
        content: '';
        position: absolute;
        z-index: 1000;
        top: 0;
        bottom: 0;
        opacity: 0.15;
        left: $grid_margin;
        right: $grid_margin;
        background: repeating-linear-gradient(90deg,
                $grid_color 0,
                $grid_color $grid_width,
                transparent $grid_width,
                transparent $grid_width + $grid_gutter);
        pointer-events: none;
    }
}

.wrapper {
    margin: 0 $grid_margin;
}

.wrappert-devs{
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}
// .css-1g86id8-MuiTreeItem-content .MuiTreeItem-label, .css-170guiz-MuiTypography-root, .css-2mihi7-MuiTypography-root{
//   font-size: 14px!important;
// }
.blocks {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 4fr 1fr;
    row-gap: 32px;
    column-gap: percentage(30 / 1840);

    @include mq(1023) {
        grid-template-columns: 1fr;
    }
 
    > .block-wrapp {
        font-size: 20px;
        color: #fff;
        border-radius: 4px;
        max-height: 90vh;
        overflow: auto;
   
        @include mq(1023) {
            width: auto;
            margin: 0 0 0px;
        }
    }
}
.item-1 {
  background-color: #ffff0000;
  grid-row: 1;
  grid-column: 3/3;
  margin-top: 14px;
  animation: ani 2s forwards;
  
}

@keyframes ani {
  0% {transform: translateX(+50%);}
  100% {transform: translateX(8);}
}

.item-2 {
  background-color: #ffffff00;
  grid-column: 2/9;
  grid-row: 1;
}
button#long-button_menu {
  padding: 0px;
}

tr.MuiTableRow-root.active_row.css-efx171-MuiTableRow-root:hover {
  background: #eee;
}
//////////////////////////////////////// Подробная информация ( Пользователь ) 
.edit_user_menu {
  display: flex;
  flex-direction: row-reverse;
}
.wrapper_user_card, .wrapper_devlocation_card{
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;

  > .box_info{
            margin-top: 8px;
            margin-bottom: 0px;
            font-size: 14px;
            padding: 0px;
}}
////////////////////////////////////////////////style for middle card

.grid__card_middle{
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}


.css-1xmmv5i {
  background: #fff;
  padding: 20px;
  max-height: 88vh;
  overflow: auto;
}
.css-rqglhn-MuiTable-root {
  width: 100%;
}

.Box-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  border-color: #c7bcbcd6;
  border-radius: 4px;
}
.MuiDataGrid-root.MuiDataGrid-root--densityStandard.css-1e2bxag-MuiDataGrid-root {
  border: none;
}
.MuiDataGrid-main.css-204u17-MuiDataGrid-main {
  display: none;
}

.block-wrapp.grid.MuiBox-root.css-0::-webkit-scrollbar , .block-wrapp.MuiBox-root.css-0::-webkit-scrollbar{
  width: 4px;
  background-color: #ffffff00;
} 

.block-wrapp.grid.MuiBox-root.css-0::-webkit-scrollbar-thumb , .block-wrapp.MuiBox-root.css-0::-webkit-scrollbar-thumb{
  width: 1px;
  background-color: #ffffff00;
}


.MuiDataGrid-footerContainer.css-17jjc08-MuiDataGrid-footerContainer {
  display: none;
}
.css-vr2p86-MuiButtonBase-root-MuiButton-root:hover {
  color: #266bf1;
}
.setDevSess:hover{
  color: #266bf1;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  max-height: 200px;
  overflow-y: scroll;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list::-webkit-scrollbar , .css-ne4h0p-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list::-webkit-scrollbar-thumb,
.css-ne4h0p-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #1890ff;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #1890ff;
}

.css-1g86id8-MuiTreeItem-content.Mui-selected {
  background: #F1F5FC;
  border-radius: 5px;
}


.css-g7pccu-MuiTreeView-root::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
} 
.css-g7pccu-MuiTreeView-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
}

.css-1e0rjt7-MuiTreeView-root::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
} 

.css-1e0rjt7-MuiTreeView-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
}

.css-1xmmv5i::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
} 

.css-1xmmv5i::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
} 

.MuiTableContainer-root.css-rorn0c-MuiTableContainer-root::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
} 

.MuiTableContainer-root.css-rorn0c-MuiTableContainer-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
}

.wrapper-devs.MuiBox-root.css-6dvury {
  max-height: 85vh;
  overflow: auto;
}


.sort-sensors{
  color: #266BF1;
}

.sort-sensors-desc{
  color: #266BF1;
}

.leaflet-container {
  width: 100wh; 
  height: 100vh;
}

.right_wrapper_dev.MuiBox-root.css-0 {
  display: flex;
  align-items: center;
}
.new-devs:hover{
  color: #266BF1;
}

.menu{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  row-gap: 32px;
  column-gap: 32px;
}
.header-top{
  margin-top: 40px;
  margin-bottom: 40px;
}
.menu-mobile {
 display: none;
}


// @media (max-width: 1700px) {
//   .menu {
//     column-gap: 0px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     background: #266bf1;
//   }

//   .css-c3vlm2 {
//     background: #9783be;
// }}

// @media (max-width: 768px) {
//   .menu{
//     display: flex;
//     flex-direction: column-reverse;
//     row-gap: 16px;
//   }
//   .MuiBox-root.css-1bonelx { /////// скрыть меню 
//     display: none;
// }
// .MuiBox-root.css-1di3ucb {
//   display: none;
// }
// .MuiBox-root.css-ve8b1p {
//   display: none;
// }
// .menu-mobile{
//   display: flex;
//   background: #266BF1;
//   border-radius: 4px;
//   justify-content: space-around;
//   padding: 8px;
// }
// .header-top{
//   margin-top: 8px;
//   margin-bottom: 40px;
// }
// .css-5o2g24-MuiTypography-root{
//   margin-top: 0px;
// }
// .wrapper_user_card{
//   grid-template-columns: 1fr;
// }
// .wrapper_user_card > .box_info {
//   margin-top: 3px;
// }
// }

