$grid_color: #F1F5FC;
$grid_margin: percentage(40 / 1920); // 40 / 1920 * 100%;
$grid_width: percentage(157 / (1920 - 40 * 2));
$grid_gutter: percentage(30 / (1920 - 40 * 2));
$body_bgcolor: #F1F5FC;

@mixin mq($from, $to: false) {
    @if $to {
        @media (min-width: #{$from}px) and (max-width: #{$to}px) {
            @content;
        }
    } @else {
        @media (max-width: #{$from}px) {
            @content;
        }
    }
}

* {
    box-sizing: border-box;
}
body {
  background: #f1f5fc;
}
.is-grid {
    position: relative;
    padding: 80px 0;
    min-height: 100vh;
    
    &.is-grid::after {
        content: '';
        position: absolute;
        z-index: 1000;
        top: 0;
        bottom: 0;
        opacity: 0.15;
        left: $grid_margin;
        right: $grid_margin;
        background: repeating-linear-gradient(90deg,
                $grid_color 0,
                $grid_color $grid_width,
                transparent $grid_width,
                transparent $grid_width + $grid_gutter);
        pointer-events: none;
    }
}

.wrapper {
    margin: 0 $grid_margin;
}

.wrappert-devs{
  background: #fff;
  padding: 20px;
}

.blocks {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 4fr 1fr;
    row-gap: 30px;
    column-gap: percentage(30 / 1840);

    @include mq(1023) {
        grid-template-columns: 1fr;
    }

    > .block-wrapp {
        font-size: 20px;
        color: #fff;
        border-radius: 4px;

        @include mq(1023) {
            width: auto;
            margin: 0 0 0px;
        }
    }
}


.css-1xmmv5i {
  background: #fff;
  padding: 20px;
  max-height: 88vh;
  overflow: auto;
}
.css-rqglhn-MuiTable-root {
  width: 100%;
}

.Box-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  border-color: #c7bcbcd6;
  border-radius: 4px;
}

.css-vr2p86-MuiButtonBase-root-MuiButton-root:hover {
  color: #266bf1;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  max-height: 200px;
  overflow-y: scroll;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list::-webkit-scrollbar , .css-ne4h0p-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list::-webkit-scrollbar-thumb,
.css-ne4h0p-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #1890ff;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #1890ff;
}

.css-1g86id8-MuiTreeItem-content.Mui-selected {
  background: #F1F5FC;
  border-radius: 5px;
}


.css-g7pccu-MuiTreeView-root::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
} 
.css-g7pccu-MuiTreeView-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
}

.css-1e0rjt7-MuiTreeView-root::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
} 

.css-1e0rjt7-MuiTreeView-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
}

.css-1xmmv5i::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
} 

.css-1xmmv5i::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
} 

