$blue: #266BF1;
$font-color : #F1F5FC;
$margin: 40px;
$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700
);

body {
  background: $font-color;
  font-weight: map-get($font-weights , regular);
  margin: 0;
  padding: 0;
}

.wrapper__app{
  height: 80vh;
  margin: 80px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.active{
  color: #080808;
    font-weight: 600!important;
    margin-left: 22px!important;
}


.Box-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  border-color: #c7bcbcd6;
  border-radius: 4px;
}

.css-vr2p86-MuiButtonBase-root-MuiButton-root:hover {
  color: #266bf1;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  max-height: 200px;
  overflow-y: scroll;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list::-webkit-scrollbar , .css-ne4h0p-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list::-webkit-scrollbar-thumb,
.css-ne4h0p-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #1890ff;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #1890ff;
}

.css-1g86id8-MuiTreeItem-content.Mui-selected {
  background: #F1F5FC;
  border-radius: 5px;
}

.wrapper_app.MuiBox-root.css-0 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.css-g7pccu-MuiTreeView-root::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
} 
.css-g7pccu-MuiTreeView-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
}

.css-1e0rjt7-MuiTreeView-root::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
} 

.css-1e0rjt7-MuiTreeView-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
}

.css-rorn0c-MuiTableContainer-root::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
} 

.css-rorn0c-MuiTableContainer-root::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c8cdd3;
} 

.container {
  width: 100%;
  max-width: 1300px;
  min-width: 200px;
  box-sizing: 'border-box';
  background: #fff;

}

.card {
  width: 100%;
  padding: 30px 20px;
  border: 1px solid #d5d4d4;
  margin-bottom: 20px;
}