
    .box_wrapper {
        -webkit-box-shadow: 1px 3px 20px -1px rgba(3, 131, 229, 0.2);
        -moz-box-shadow: 1px 3px 20px -1px rgba(3, 131, 229, 0.2);
        box-shadow: 1px 3px 20px -1px rgba(3, 131, 229, 0.2);
    }

