.auth-form.MuiBox-root.css-0 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  
  .right-panel {
    background: #266BF1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #d8cccc;
  }
  
  .list_item{
    border: 1px solid;
    border-color: #E0E3E7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }   
  
  .auth_button:hover{
    color: #266BF1;
  }

  .auth_button:hover{
    color: #266BF1;
  }

  @media (max-width: 700px) {
    .auth-form.MuiBox-root.css-0 {
      display: block;
      height: 70vh;
    }
    .right-panel{
      display: none;
    }
  
  }